.urn-aaid-sc-us-62beadb2-fac2-4 {
    position: absolute;
    top: 123px;
    left: 793px;
    width: 487px;
    height: 723.2px;
    object-fit: cover;
  }
  .award-wining {
    position: absolute;
    top: 370px;
    left: 165px;
    font-size: 32px;
    display: inline-block;
    color: var(--color-crimson);
    width: 343px;
    height: 38px;
  }
  .digital-marketing {
    margin: 0;
  }
  .digital-marketing-agency-container {
    position: absolute;
    top: 427px;
    left: 165px;
    font-size: var(--font-size-39xl);
    display: inline-block;
    width: 628px;
  }
  .morbi-sed-lacus {
    position: absolute;
    top: 592px;
    left: 165px;
    font-weight: 300;
    display: inline-block;
    width: 451px;
    height: 66px;
  }
  .desktop-1-child {
    position: absolute;
    top: 693px;
    left: 165px;
    background-color: var(--color-crimson);
    width: 171px;
    height: 45px;
  }
  .contact-us {
    position: absolute;
    top: 707px;
    left: 181px;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .desktop-1-item {
    position: absolute;
    top: 934px;
    left: -14px;
    background-color: #fafafa;
    width: 1440px;
    height: 919px;
  }
  .services-provide-for {
    position: absolute;
    top: 1063px;
    left: 214px;
    font-size: var(--font-size-24xl);
    display: inline-block;
    width: 442px;
  }
  .morbi-sed-lacus1 {
    position: absolute;
    top: 1076px;
    left: 762px;
    display: inline-block;
    width: 567px;
  }
  .what-we-do {
    position: absolute;
    top: 1012px;
    left: 214px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    color: var(--color-crimson);
  }
  .icon,
  .urn-aaid-sc-us-62beadb2-fac2-41 {
    position: absolute;
    top: 1246px;
    left: 214px;
    width: 326px;
    height: 463px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-41 {
    left: 580px;
  }
  .desktop-1-inner {
    position: absolute;
    top: 1253px;
    left: 946px;
    background-color: var(--color-crimson);
    width: 301px;
    height: 456px;
  }
  .morbi-sed-lacus2,
  .web-development {
    position: absolute;
    color: var(--color-white);
  }
  .morbi-sed-lacus2 {
    top: 1463px;
    left: 971px;
    text-align: center;
    display: inline-block;
    width: 255px;
  }
  .web-development {
    top: 1416px;
    left: 984px;
    font-size: var(--font-size-5xl);
  }
  .icon-1 {
    position: absolute;
    top: 1318px;
    left: 1068px;
    width: 58px;
    height: 58px;
    object-fit: cover;
  }
  .rectangle-div {
    position: absolute;
    top: 1560px;
    left: 1022px;
    background-color: var(--color-white);
    width: 150px;
    height: 41px;
  }
  .read-more {
    position: absolute;
    top: 1572px;
    left: 1044px;
    font-size: var(--font-size-sm);
    color: var(--color-crimson);
  }
  .arrow-icon {
    position: absolute;
    top: 1581px;
    left: 1126px;
    width: 39px;
    height: 0.4px;
    object-fit: contain;
  }
  .urn-aaid-sc-us-62beadb2-fac2-42,
  .urn-aaid-sc-us-62beadb2-fac2-43 {
    position: absolute;
    top: 1253px;
    left: 1292px;
    width: 258px;
    height: 459px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-43 {
    top: 1762px;
    left: 214px;
    width: 30px;
    height: 30px;
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 0.41%;
    width: 0.76%;
    top: 61.28%;
    right: 81.18%;
    bottom: 38.3%;
    left: 18.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1 {
    right: 79.31%;
    left: 19.93%;
  }
  .why-choose-us,
  .why-we-are {
    position: absolute;
    text-align: center;
  }
  .why-choose-us {
    top: 1925px;
    left: 650px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    color: var(--color-crimson);
  }
  .why-we-are {
    top: 1976px;
    left: 490px;
    font-size: var(--font-size-24xl);
    display: inline-block;
    width: 528px;
    height: 54px;
  }
  .urn-aaid-sc-us-62beadb2-fac2-44,
  .urn-aaid-sc-us-62beadb2-fac2-45 {
    position: absolute;
    top: 2103px;
    left: 230px;
    width: 83px;
    height: 75px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-45 {
    top: 2113px;
    left: 517px;
    width: 71px;
    height: 65px;
  }
  .urn-aaid-sc-us-62beadb2-fac2-46,
  .urn-aaid-sc-us-62beadb2-fac2-47 {
    position: absolute;
    top: 2103px;
    left: 805px;
    width: 68px;
    height: 75px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-47 {
    top: 2108px;
    left: 1097px;
    width: 70px;
    height: 70px;
  }
  .better-strategy,
  .clarified-vision,
  .maintain-security,
  .high-performance {
    position: absolute;
    top: 2218px;
    left: 229px;
    font-size: var(--font-size-xl);
    font-weight: 500;
    text-align: center;
  }
  .better-strategy,
  .high-performance {
    top: 2216px;
    left: 517px;
  }
  .better-strategy {
    left: 1018px;
  }
  .maintain-security{
    left: 790px;
  }
  .lorem-ipsum-dolor,
  .lorem-ipsum-dolor1,
  .lorem-ipsum-dolor2,
  .lorem-ipsum-dolor3 {
    position: absolute;
    top: 2256px;
    left: 229px;
    display: inline-block;
    width: 222px;
  }
  .lorem-ipsum-dolor1,
  .lorem-ipsum-dolor2,
  .lorem-ipsum-dolor3 {
    left: 517px;
  }
  .lorem-ipsum-dolor2,
  .lorem-ipsum-dolor3 {
    left: 783px;
  }
  .lorem-ipsum-dolor3 {
    left: 1030px;
  }
  .our-project,
  .why-are-we {
    position: absolute;
    text-align: center;
  }
  .our-project {
    top: 2403px;
    left: 669px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    color: var(--color-crimson);
  }
  .why-are-we {
    top: 2454px;
    left: 552px;
    font-size: var(--font-size-26xl);
  }
  .urn-aaid-sc-us-62beadb2-fac2-48 {
    position: absolute;
    top: 2570px;
    left: 245px;
    width: 594px;
    height: 449px;
    object-fit: cover;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .desktop-1-child3 {
    position: absolute;
    top: 2570px;
    left: 884px;
    background-color: var(--color-whitesmoke);
    width: 334px;
    height: 141px;
  }
  .desktop-1-child2,
  .desktop-1-child3 {
    top: 2867px;
    height: 152px;
  }
  .desktop-1-child3 {
    top: 2711px;
    background-color: var(--color-crimson);
    height: 156px;
  }
  .better-strategy1,
  .genderless-kei,
  .genderless-kei1 {
    position: absolute;
    left: 925px;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }
  .better-strategy1 {
    top: 2746px;
    color: var(--color-white);
  }
  .genderless-kei,
  .genderless-kei1 {
    top: 2586px;
    display: inline-block;
    width: 293px;
  }
  .genderless-kei1 {
    top: 2886px;
  }
  .set-to-launch,
  .set-to-launch1,
  .set-to-launch2 {
    position: absolute;
    top: 2625px;
    left: 925px;
    display: inline-block;
    width: 275px;
  }
  .set-to-launch1,
  .set-to-launch2 {
    top: 2925px;
  }
  .set-to-launch2 {
    top: 2789px;
    color: var(--color-white);
  }
  .desktop-1-child4 {
    position: absolute;
    top: 3111px;
    left: 0;
    background-color: var(--color-whitesmoke);
    width: 1440px;
    height: 499px;
  }
  .desktop-1-child5,
  .desktop-1-child6,
  .desktop-1-child7 {
    position: absolute;
    top: 3317px;
    left: 1091px;
    background-color: var(--color-white);
    width: 217px;
    height: 193px;
  }
  .desktop-1-child6,
  .desktop-1-child7 {
    top: 3316px;
    left: 807px;
    height: 194px;
  }
  .desktop-1-child7 {
    top: 3317px;
    left: 526px;
    height: 193px;
  }
  .our-company-growth {
    position: absolute;
    top: 3204px;
    left: 439px;
    font-size: var(--font-size-24xl);
    display: inline-block;
    text-align: center;
    width: 562px;
    height: 54px;
  }
  .expert-growths {
    position: absolute;
    top: 3160px;
    left: 631px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    color: var(--color-crimson);
  }
  .desktop-1-child8 {
    position: absolute;
    top: 3317px;
    left: 245px;
    background-color: var(--color-white);
    width: 217px;
    height: 193px;
  }
  .urn-aaid-sc-us-62beadb2-fac2-49 {
    position: absolute;
    top: 3345px;
    left: 333px;
    width: 40px;
    height: 35px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-410,
  .urn-aaid-sc-us-62beadb2-fac2-411,
  .urn-aaid-sc-us-62beadb2-fac2-412 {
    position: absolute;
    top: 3344px;
    left: 616px;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }
  .urn-aaid-sc-us-62beadb2-fac2-411,
  .urn-aaid-sc-us-62beadb2-fac2-412 {
    left: 896px;
  }
  .urn-aaid-sc-us-62beadb2-fac2-412 {
    top: 3345px;
    left: 1181px;
    width: 37px;
    height: 31px;
  }
  .p {
    margin-block-start: 0;
    margin-block-end: 15px;
  }
  .staticfied-customers {
    position: absolute;
    top: 3403px;
    left: 245px;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    width: 217px;
    height: 109px;
    font-size: var(--font-size-39xl);
  }
  .days-of-operation {
    margin-block-start: 0;
    margin-block-end: 15px;
    font-size: var(--font-size-lg);
  }
  .complete-project,
  .days-of-operation-container {
    font-weight: 300;
    display: inline-block;
    width: 217px;
    height: 109px;
    font-size: var(--font-size-39xl);
  }
  .days-of-operation-container {
    position: absolute;
    top: 3402px;
    left: 526px;
    text-align: center;
  }
  .complete-project {
    top: 3403px;
    left: 804px;
  }
  .client-s-feedback,
  .complete-project,
  .win-awards {
    position: absolute;
    text-align: center;
  }
  .win-awards {
    top: 3401px;
    left: 1091px;
    font-weight: 300;
    display: inline-block;
    width: 217px;
    height: 109px;
    font-size: var(--font-size-39xl);
  }
  .client-s-feedback {
    top: 3650px;
    left: 642px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    font-family: var(--font-cormorant-sc);
    color: var(--color-crimson);
  }
  .people-says-about {
    position: absolute;
    top: 3702px;
    left: 455px;
    font-size: var(--font-size-26xl);
    text-align: center;
  }
  .urn-aaid-sc-us-62beadb2-fac2-413 {
    position: absolute;
    top: 3801px;
    left: 341px;
    width: 64px;
    height: 46px;
    object-fit: cover;
  }
  .jannat-tumpa,
  .jannat-tumpa-the {
    position: absolute;
    left: 373px;
    font-size: var(--font-size-xl);
  }
  .jannat-tumpa-the {
    top: 3823px;
    display: inline-block;
    width: 767px;
  }
  .jannat-tumpa {
    top: 3897px;
    font-family: var(--font-poppins);
    color: var(--color-crimson);
  }
  .coo-amerimar-enterprises {
    position: absolute;
    top: 3901px;
    left: 542px;
    font-size: var(--font-size-lg);
    color: gray;
  }
  .desktop-1-child9 {
    position: absolute;
    top: 3987px;
    left: 0;
    background-color: var(--color-crimson);
    width: 1600px;
    height: 254px;
  }
  .group-500-1 {
    position: absolute;
    top: 4082px;
    left: 135px;
    width: 1170px;
    height: 56px;
    object-fit: cover;
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 4241px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  